@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
  background-image: linear-gradient(
    to right top,
    #4d0155,
    #c12948,
    #e16031
  );
  background-attachment: fixed; 
  text-align: center;
}
button {
  font-family: inherit;
  padding: 1rem;
  margin: 1rem;
  background: white;
  box-shadow: 0 0 5px #747474;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
}


